---
const { text, textColor, bgColor} = Astro.props
---

<button
  style={{
    color: textColor,
    backgroundColor: bgColor,
  }}
  onclick="alert('Hello, world!')"
>
  {text}
</button>
<style>
  button {
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    font-size: 1.125rem;
    font-weight: normal;
    font-family: monospace;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.8;
  }
</style>